# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
myenv/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/
